*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    gap: 50px;
    background: #141313;
}
.inputbox
{
    position: relative;
    width: 250px;
}
.inputbox input
{
    width: 100%;
    padding: 10px;
    border: 1px solid rgba(255,255,255,0.25);
    background: #141313;
    border-radius: 5px;
    outline:none;
    color: antiquewhite;
    font-size: 1em;
}
.inputbox span
{
    position: absolute;
    left:0;
    padding: 10px;
    pointer-events: none;
    font-size: 1em;
    color: rgba(255,255,255,0.25);
    text-transform: uppercase;
    transition: 0.5s;
}
.inputbox input:valid ~ span,
.inputbox input:focus ~ span
{
    color: #00dfc4;
    transform: translateX(10px) translateY(-7px);
    font-size: 0.65em;
    padding: 0 10px;
    background: #141313;
    border-left: 1px solid #00dfc4;
    border-right: 1px solid #00dfc4; 
    letter-spacing: 0.2em;
}
.inputbox input:valid,
.inputbox input:focus
{
    border: 1px solid #00dfc4;
}