*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    gap: 50px;
    background: #141313;
}
.inputbox
{
    position: relative;
    width: 360px;
    
}
.inputbox input
{
    width: 100%;
    height: 60px;
    padding: 10px;
    border: 1px solid rgba(255,255,255,0.25);
    background: #141313;
    border-radius: 5px;
    outline:none;
    color: antiquewhite;
    font-size: 1em;
}
.inputbox span
{
    position: absolute;
    left:0;
    top:10px;
    padding: 10px;
    pointer-events: none;
    font-size: 1em;
    color: rgba(255,255,255,0.25);
    text-transform: uppercase;
    transition: 0.5s;
}
.inputbox input:valid ~ span,
.inputbox input:focus ~ span
{
    color: #00dfc4;
    transform: translateX(10px) translateY(-7px);
    font-size: 0.65em;
    padding: 0 10px;
    background: #141313;
    border-left: 1px solid #00dfc4;
    border-right: 1px solid #00dfc4; 
    letter-spacing: 0.2em;
    top:-1px;
}
.inputbox input:valid,
.inputbox input:focus
{
    border: 1px solid #00dfc4;
}

/***********SearchBar********/

.middle
{
    position: absolute;
    top:75%;
    left:50%;
    transform: translate(-50%,-50%);
}
.input
{
    width: 60px;
    height: 60px;
    background: none;
    border-radius: 50px;
    border: 4px solid rgba(255,255,255,0.25);
    outline:none;
    transition:width .4s ease-in-out, 
            border-radius .8s ease-in-out,
            padding 0.2s;
    transition-delay: 0.4s;
    color:#00dfc4;
    font-size: 20px;
    
}
.inclicked 
{
    width: 360px;
    border-radius: 0;
    padding: 0 1rem;
    border: 2px solid #00dfc4;
    border-radius: 5px;
}
.btn
{
    position: absolute;
    width: 60px;
    height: 60px;
    top: 0px;
    right:0px;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}
.btn::before
{
    content: "";
    position: absolute;
    width: 4px;
    height: 25px;
    background: rgba(255,255,255,0.25);
    transform: rotate(-48deg);
    bottom: -7px;
    right: -7px;
    transition: 0.3s;
}
.btn::after
{
    content: '';
    position: absolute;
    width: 4px;
    height: 25px;
    opacity: 1;
}
.close::after, .close::before
{
    content: '';
    width: 4px;
    height: 34px;
    background: #00dfc4;
    position: absolute;
    bottom:12px;
    right:28px;
}
.close::before
{
    transform: rotate(-45deg);
}
.close::after
{
    transform: rotate(45deg);
}

/**********Button*********/

a
{
    position: absolute;
    display: inline-block;
    padding: 15px 30px;
    color:rgba(255,255,255,0.25);
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 24px;
    overflow: hidden;
    transition: 0.2s;
    top:140px;
}

a:hover
{
color:#255784;
background: #00dfc4;
box-shadow: 0 0 10px #00dfc4,
            0 0 40px #00dfc4,
            0 0 80px #00dfc4;
transition-delay: 1s;
}

a span
{
position: absolute;
display: block;

}

a span:nth-child(1)
{
top: 0;
left:-100%;
width: 100%;
height: 2px;
background: linear-gradient(90deg,transparent,#00dfc4);

}

a:hover span:nth-child(1)
{
left:100%;
transition: 1s;
}

a span:nth-child(3)
{
bottom: 0;
right:-100%;
width: 100%;
height: 2px;
background: linear-gradient(270deg,transparent,#00dfc4);

}

a:hover span:nth-child(3)
{
right:100%;
transition: 1s;
transition-delay: 0.5s;
}

a span:nth-child(2)
{
top: -100%;
right:0;
width: 2px;
height: 100%;
background: linear-gradient(180deg,transparent,#00dfc4);

}

a:hover span:nth-child(2)
{
top:100%;
transition: 1s;
transition-delay: 0.25s;
}

a span:nth-child(4)
{
bottom: -100%;
left:0;
width: 2px;
height: 100%;
background: linear-gradient(360deg,transparent,#00dfc4);

}

a:hover span:nth-child(4)
{
bottom:100%;
transition: 1s;
transition-delay: 0.75s;
}
